<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ArticleInfoDao">

    <resultMap id="articleMap" type="com.platform.model.ArticleInfo">
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="publish_time" property="publishTime"/>
        <result column="collect_number" property="collectNumber"/>
        <result column="up_number" property="upNumber"/>
    </resultMap>

    <!-- 列表 -->
    <select id="list" parameterType="hashMap" resultType="com.platform.model.ArticleInfo" resultMap="articleMap">
        select
            a.*,
            u.username as authorName,
            art.name as typeName
        from article as a
        left join user as u on a.author = u.id
        left join article_type as art on a.type = art.id
        <where>
            a.status != 0
            <if test="title != null and title != ''">
                and a.title like concat('%',#{title},'%')
            </if>
            <if test="author != null and author != ''">
                and u.username like concat('%',#{author},'%')
            </if>
            <if test="type != null and type != ''">
                and art.id = #{type}
            </if>
            <if test="createTimeS != null and createTimeS != ''">
                and a.create_time &gt;= #{createTimeS}
            </if>
            <if test="createTimeE != null and createTimeE != ''">
                and a.create_time &lt;= #{createTimeE}
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
        </where>
    </select>

    <!-- 数目 -->
    <select id="count" parameterType="hashMap" resultType="java.lang.Integer">
        select count(*)
        from article as a
        left join user as u on a.author = u.id
        left join article_type as art on a.type = art.id
        <where>
            a.status != 0
            <if test="title != null and title != ''">
                and a.title like concat('%',#{title},'%')
            </if>
            <if test="author != null and author != ''">
                and u.username like concat('%',#{author},'%')
            </if>
            <if test="type != null and type != ''">
                and art.id = #{type}
            </if>
            <if test="createTimeS != null and createTimeS != ''">
                and a.create_time &gt;= #{createTimeS}
            </if>
            <if test="createTimeE != null and createTimeE != ''">
                and a.create_time &lt;= #{createTimeE}
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
        </where>
    </select>

</mapper>