<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.WxUserInfoDao">

    <resultMap id="wxUserMap" type="com.platform.model.WxUserInfo">
        <result column="nick_name" property="nickName"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="open_id" property="openId"/>
    </resultMap>

    <!-- 列表 -->
    <select id="list" parameterType="java.util.HashMap" resultType="com.platform.model.WxUserInfo" resultMap="wxUserMap">
        select *
        from wx_user as wu
        <where>
            wu.status != 0
            <if test="nickName != null and nickName != ''">
                and wu.nick_name like concat('%',#{nickName},'%')
            </if>
            <if test="gender != null and gender != ''">
                and wu.gender = #{gender}
            </if>
            <if test="createTimeS != null and createTimeS != ''">
                and wu.create_time &gt; #{createTimeS}
            </if>
            <if test="createTimeE != null and createTimeE != ''">
                and wu.create_time &lt; #{createTimeE}
            </if>
        </where>
    </select>

    <!-- 数量 -->
    <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*)
        from wx_user as wu
        <where>
            wu.status != 0
            <if test="nickName != null and nickName != ''">
                and wu.nick_name like concat('%',#{nickName},'%')
            </if>
            <if test="gender != null and gender != ''">
                and wu.gender = #{gender}
            </if>
            <if test="createTimeS != null and createTimeS != ''">
                and wu.create_time &gt;= #{createTimeS}
            </if>
            <if test="createTimeE != null and createTimeE != ''">
                and wu.create_time &lt;= #{createTimeE}
            </if>
        </where>
    </select>

    <!-- 注册用户 -->
    <insert id="register" parameterType="com.platform.model.WxUserInfo" keyProperty="id" useGeneratedKeys="true">
        insert into wx_user(
            create_time,
            update_time,
            status,
            nick_name,
            gender,
            city,
            province,
            avatar_url,
            code,
            open_id
        )
        values(
            NOW(),
            NOW(),
            1,
            #{nickName,jdbcType=VARCHAR},
            #{gender,jdbcType=INTEGER},
            #{city,jdbcType=VARCHAR},
            #{province,jdbcType=VARCHAR},
            #{avatarUrl,jdbcType=VARCHAR},
            #{code,jdbcType=VARCHAR},
            #{openId,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 登录 -->
    <select id="login" resultType="com.platform.model.WxUserInfo" resultMap="wxUserMap">
        select *
        from wx_user as wu
        where wu.open_id = #{openId}
    </select>

    <resultMap id="postHistoryMap" type="com.platform.model.PostHistory">
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="post_id" property="postId"/>
    </resultMap>

    <!-- 获取收藏、点赞、看过的文章 -->
    <select id="postHistory" parameterType="java.util.HashMap" resultType="com.platform.model.PostHistory" resultMap="postHistoryMap">
        select
            puo.*,
            p.post_title as postTitle,
            p.poster_id as posterId,
            u1.real_name as posterName,
            <if test="type == 'COLLECT'">
                puo.create_time as operationTime
            </if>
            <if test="type == 'UP'">
                puo.create_time as operationTime
            </if>
            <if test="type == 'READ'">
                puo.create_time as operationTime
            </if>
        from post_user_operation as puo
        left join posts as p on puo.post_id = p.id
        left join user as u1 on p.poster_id = u1.id
        <where>
            puo.status != 0
            <if test="type != null and type != ''">
                and puo.type = #{type}
            </if>
            <if test="userId != null and userId != ''">
                and puo.user_id = #{userId}
            </if>
        </where>
    </select>

    <resultMap id="commentMap" type="com.platform.model.Comment">
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_id" property="userId"/>
        <result column="post_id" property="postId"/>
        <result column="target_id" property="targetId"/>
    </resultMap>

    <!-- 删除历史操作 -->
    <delete id="deletePostHistory" parameterType="java.util.HashMap">
        delete from post_user_operation where id = #{id}
    </delete>

    <!-- 获取历史评论数据 -->
    <select id="commentHistory" parameterType="java.util.HashMap" resultType="com.platform.model.Comment" resultMap="commentMap">
        select
            cm.*,
            p.post_title as postTitle
        from comments as cm
        left join posts as p on cm.post_id = p.id
        <where>
            cm.status != 0
            <if test="userId != null and userId != ''">
                and cm.user_id = #{userId}
            </if>
        </where>
        order by cm.create_time desc
    </select>

    <!-- 删除历史评论 -->
    <delete id="deleteCommentHistory" parameterType="java.util.HashMap">
        delete from comments where id = #{id}
    </delete>

</mapper>